* {
    box-sizing: border-box;
    margin:0;
}

/* ==== GRID SYSTEM ==== */

.borderbox{
	box-sizing: border-box;
    max-width: 100%;
    height: auto;
    padding: 30px;
    border: 0px white;
	text-align: center;
	margin: auto;
}
.contentbox {
	box-sizing: content-box;
   	max-width: 100%;
    height: auto;
	padding: 30px;
    border: 0px white;
	
}




.container {
  width: 100%;
  margin:auto;
  color:white;

	
}

.row {
  position: relative;
  width: 100%;  
}

.row [class^="col"] {
  float: left;
  margin: 0% 0%;
  min-height: 0.125rem;
}


.col-1 {
    width: 10%;
    background: black;
  }

  .col-2 {
    width: 15%;
    background: black;
  }

  .col-3 {
    width: 25%;
    background: rgba(0,150,150,.3);   
  }

  .col-4 {
    width: 33.33%;
    background: rgba(0,150,150,.4);
  }

  .col-5 {
    width: 41.67%;
    background: rgba(0,150,150,.5);
  }

  .col-6 {
    width: 50%;
    background: rgba(0,150,150,.5);
  }
  

  .col-7 {
    width: 58.33%;
    background: rgba(0,150,150,.57);
  }

  .col-8 {
    width: 66.67%;
    background: rgba(0,150,150,.64);
  }

  .col-9 {
    width: 75%;
    background: rgba(0,150,150,.75);
  }

  .col-10 {
    width: 83.33%;
    background: rgba(20,150,150,.82);
  }

  .col-11 {
    width: 91.67%;
    background: rgba(0,150,150,.89);
  }

  .col-12 {
    width: 100%;
    background: rgba(0,150,150,1);
  }

/* This is clearfix, clearing content after each row*/
.row:after {
	content: "";
	display: table;
	clear: both;
}

div [class^="col"] {
    height:50px;
    border: 0px solid white;
   
}